<div class="container register-form">
  <div class="form">
      <div class="note">
          <p>Đây là trang Đăng Kí</p>
      </div>

      <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Họ và Tên *" value=""/>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Số điện thoại *" value=""/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nhập mật khẩu *" value=""/>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nhập lại mật khẩu *" value=""/>
                  </div>
              </div>
          </div>
          <button type="button" class="btnSubmit">Đăng kí</button>
      </div>
  </div>
</div>
