<nav class="navbar navbar-expand-lg pink">
    <p style="text-align:center; margin-left: 360px; font-size:24px; color: #fff;">GIAO HÀNG MIỄN PHÍ VỚI HÓA ĐƠN TRÊN 2.000.000đ</p>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Trang Chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="blog">Blogs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="lienhe">Liên Hệ <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
    </form>

    <i class="fa-solid fa-cart-arrow-down" aria-hidden="true"></i>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="dangki">Đăng kí <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="dangnhap">Đăng nhập <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase h5">ShoeShop</h5>
        <p style="margin-left: 7rem; margin-right: 3rem;">Cửa hàng chuyên cung cấp các loại mặt hàng về giày và dép chính hãng.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Giày</h5>

        <ul class="list-unstyled">
          <li>
            <p>Addias</p>
          </li>
          <li>
            <p>Nike</p>
          </li>
          <li>
            <p>Puma</p>
          </li>
          <li>
            <p>Ananas</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Dép</h5>

        <ul class="list-unstyled">
          <li>
            <p>Dép dạng ống</p>
          </li>
          <li>
            <p>Dép kẹp</p>
          </li>
          <li>
            <p>Dép da</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
