/* You can add global styles to this file, and also import other style files */
.container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.card{
  margin: 10px;
}
i{
  margin-left: 20px;
  margin-right: 7rem;
}
.card-title{
  font-size: 20px;
}
footer{
  background-color: #f8f9fa!important;
}
.pink
{
  background-color: pink;
}
.navbar-brand{
  margin-left: 7rem;
}

.h5
{
  margin-left: 7rem;
}
